doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css")
    link(rel='stylesheet' href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='//cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
    script(src='//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js')
  body
    include components/nav
    include components/nav-setting
    include components/message
    block content

    block scripts
      script(src="/dist/main.bundle.js")
