extends blog_layout

block content
  .ui.grid
    .four.wide.column
    .eight.wide.column
      form.ui.form.segment(action='/signup' method="post")
        .field.required
          label 邮箱
          input(placeholder="邮箱" type="email" name="email")
        .field.required
          label 用户名
          input(placeholder="用户名" type="text" name="name")
        .field.required
          label 密码
          input(placeholder="密码" type="password" name="password")
        .field.required
          label 重复密码
          input(placeholder="重复密码" type="password" name="repassword")
        .field.required
          label 性别
          select.ui.compact.selection.dropdown(name='gender')
            option(value='m') 男
            option(value='f') 女
            option(value='o') 其他
        //-.field.required
          //-label 头像
          //-input(type='file' name='avatar')
        .field
          label 个人介绍
          textarea(name='bio' rows='5') #{body && body.bio}
        input.ui.button.fluid(type='submit' value='注册')